#cloud-config

users:
  - name: alpine
    plain_text_passwd: "alpine"
    lock_passwd: false
    doas:
      - "permit nopass alpine"

chpasswd:
  users:
    - name: root
      password: root
      type: text
  expire: false

ssh_pwauth: false

packages:
  - curl
  - bash
  - iptables
  - qemu-guest-agent

write_files:
  - path: /etc/modules-load.d/k3s.conf
    content: |
      br_netfilter
      overlay
      ip_tables
      nf_tables
  - path: /etc/sysctl.d/k3s.conf
    content: |
      net.bridge.bridge-nf-call-iptables = 1
      net.bridge.bridge-nf-call-ip6tables = 1
      net.ipv4.ip_forward = 1

runcmd:
  - swapoff -a
  - sed -i '/ swap / d' /etc/fstab
  - rc-update add qemu-guest-agent default
  - rc-service qemu-guest-agent start
  - curl -sfL https://get.k3s.io | INSTALL_K3S_SKIP_START=true INSTALL_K3S_EXEC="agent" K3S_URL=${k3s_url} K3S_TOKEN=${k3s_token} sh -

power_state:
    mode: reboot
