proxmox_endpoint        = "https://192.168.1.x:8006/"
proxmox_api_token       = "root@pam!tofu=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
proxmox_ssh_username    = "root"
proxmox_ssh_private_key_path = "~/.ssh/proxmox_tofu"
proxmox_node            = "pve"
proxmox_node_address    = "pve.local"
k3s_token         = "your-secret-token"
